@import 'variables', 'colors';

.submit {
    @extend %btn;
    background-color: $aquagreen;
    text-shadow: 0.5px 0.5px 0.5px $green;
}

.reset {
    @extend %btn;
    background-color: $peach;
    text-shadow: 0.5px 0.5px 0.5px $red;
}